albucore==0.0.23
albumentations==2.0.5
annotated-types==0.7.0
eval_type_backport==0.2.2
matplotlib==3.9.2
mkl-service==2.4.0
opencv-python-headless==4.11.0.86
pydantic==2.10.6
pydantic_core==2.27.2
PyQt6==6.7.1
scipy==1.13.1
simsimd==6.2.1
stringzilla==3.12.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
triton==3.1.0
tqdm==4.65.0